@font-face {
  font-family: 'Goldplay';
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/GOLDPLAY-SEMIBOLD.OTF') format('otf');
}
@font-face {
  font-family: 'Goldplay';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/GOLDPLAY-SEMIBOLDIT.OTF') format('otf');
}
