# Don't change the line below!
#! oxygen_storefront_id: 950295

name: Storefront 950295
on:
  - push
permissions:
  contents: read
  deployments: write
jobs:
  deploy:
    name: Deploy to Oxygen
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          check-latest: true
      - name: Enable Corepack
        run: corepack enable
      - name: Install configured package manager
        run: corepack install
      - name: Set yarn version to 4.5.3
        run: yarn set version 4.5.3
      - name: Verify Yarn version
        run: yarn --version
      - name: Get yarn cache directory
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v3
        with:
          path: '${{ steps.yarn-cache-dir-path.outputs.dir }}'
          key: "${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}"
          restore-keys: "${{ runner.os }}-yarn-\n"
      - name: Install dependencies
        id: install-dependencies
        run: yarn
      - name: Build and Publish to Oxygen
        id: deploy
        run: |
          if [ "${GITHUB_REF_NAME}" = "main" ]; then
            FLAGS=""
          elif [ "${GITHUB_REF_NAME}" = "staging" ]; then
            FLAGS="--env-branch staging"
          else
            FLAGS="--preview"
          fi
          yarn run shopify hydrogen deploy --build-command "yarn run build" $FLAGS
        env:
          SHOPIFY_HYDROGEN_DEPLOYMENT_TOKEN: '${{ secrets.OXYGEN_DEPLOYMENT_TOKEN_950295 }}'
          DEPLOY_FLAGS: ${{ github.ref_name == 'staging' && '--env-branch staging' || (github.ref_name != 'main' && '--preview') || '' }}
